<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothServices</key>
	<array>
		<string>This app uses Bluetooth to detect your hardware passkey device.</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>KyivType_Sans_Medium.otf</string>
		<string>KodeMono-VariableFont_wght.ttf</string>
		<string>KyivType_Sans_Heavy3.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
